@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0; }

body {
  background: linear-gradient(#c2f9fb, #6365c4);
  min-height: 100svh;
  display: grid;
  place-content: end center; }

h1 {
  text-align: center;
  padding: 10px; }

.container {
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  /* rundet i toppen, skarp i bunden */
  width: 100svw;
  /* 100% indtil max-width nås */
  max-width: 350px;
  min-height: 70svh;
  padding: 20px; }
  .container .btn-group + .box {
    margin-top: 20px; }
  .container .btn-group {
    background-color: #6365c4;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    width: 100%; }
    .container .btn-group .active-bg {
      background-color: #391593;
      border-radius: 10px;
      height: calc(100% - 10px);
      position: absolute;
      transition: left 0.5s ease, right 0.5s ease;
      width: calc(50% - 10px); }
      .container .btn-group .active-bg.light-off {
        left: 5px;
        right: auto; }
      .container .btn-group .active-bg.light-on {
        left: auto;
        right: 5px; }
    .container .btn-group button {
      background-color: transparent;
      border: none;
      border-radius: 10px;
      color: #fff;
      cursor: pointer;
      padding: 10px;
      width: 50%;
      z-index: 100; }
  .container .box {
    aspect-ratio: 1/1;
    background-color: #6365c4;
    border-radius: 10px;
    display: grid;
    place-content: center;
    width: 100%; }
    .container .box i {
      font-size: clamp(10rem, 12vw, 14rem);
      transition: color 0.5s ease; }
      .container .box i.light-active {
        color: yellow; }
